<%#
  Copyright 2019 Matthew B. Gray
  Copyright 2019 AJ Esler

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

%>

<h1>Review Memberships</h1>
<section class="l-section">
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="l-panel">
        <% if !user_signed_in? %>
          <%= render "sign_in_notice" %>
        <% else %>
          <h2>
            My Memberships (<%= current_user.email %>)
          </h2>

          <p>
            <% if @my_purcahses.count == 1 %>
              You have 1 membership
            <% else %>
              You have <%= @my_purcahses.count %> memberships
            <% end %>
          </p>

          <div class="card-columns">
            <% @my_purcahses.find_each(batch_size: 10) do |reservation| %>
              <%= render("reservation_card", reservation: reservation) do %>
                <% index_links(reservation).each do |link| %>
                  <p><%= link %></p>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<% if support_signed_in? %>
  <section class="l-section">
    <div class="row">
      <div class="col-12 col-md-12">
        <div class="l-panel">
          <h2>Full Members List</h2>
          <p>
            This page is a kind of godmode. Be careful who you show this too, these details are private.
          </p>
          <table class="js-data-table table table-hover table-striped table-dark table-responsive-lg">
            <thead>
              <th>#</th>
              <th>Legal Name</th>
              <th>Preferred Name</th>
              <th>Email</th>
              <th>Membership</th>
            </thead>
            <tbody>
              <% Claim.active.eager_load(:user, :detail, reservation: :membership).each do |claim| %>
                <tr>
                  <td><%= claim.reservation.membership_number %></td>
                  <td><%= link_to(claim.detail&.legal_name, reservation_path(claim.reservation)) %></td>
                  <td><%= claim.detail&.preferred_name %></td>
                  <td><%= claim.user.email %></td>
                  <td><%= claim.reservation.membership %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
<% end %>
