<%#
  Copyright 2019 Matthew B. Gray

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>
<h1>Transferring Membership: Select transfer email</h1>
<section class="l-section">
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="l-panel">
        <h2>
          From
          <%= @detail %>
          &lt;<%= @reservation.user.email %>&gt;
        </h2>

        <p>
          This process will send email to <%= @detail || @reservation.user.email %> and the new email address.
        </p>

        <p>
          Users listed here would have signed in at least once so we know they have access to their account
        </p>

        <table class="js-data-table table table-hover table-striped table-dark table-borderless table-responsive-lg">
          <thead>
            <th>Email</th>
            <th>Membership Details</th>
          </thead>
          <tbody>
            <%= User.eager_load(active_claims: :detail).find_each do |user| %>
              <tr>
                <td><%= link_to user.email, reservation_transfer_path(user.email, reservation_id: @reservation)  %></td>
                <td><%= user.active_claims.map(&:detail).map(&:to_s).to_sentence %></td>
              </p>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
