<%#
  Copyright 2019 Matthew B. Gray
  Copyright 2019 AJ Esler

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>

<div class="card <%= card_classes(reservation) %>">
  <div class="card-body">
    <h5 class="card-title">
      #<%= reservation.membership_number %>

      <% if detail = reservation.active_claim.detail %>
        <%= detail %>
      <% end %>
    </h5>

    <p class="card-text">
      <%= reservation.membership %> Membership
    </p>

    <% if reservation.instalment? %>
      <p>Reserved, but not fully paid</p>
      <p><%= amount_to_pay(reservation) %></p>
    <% end %>

    <% if reservation.paid? || reservation.has_paid_supporting? %>
      <p><%= t("rights.description") %></p>
      <% reservation.active_rights.each do |membership_right| %>
        <p><%= raw membership_right_description(membership_right, reservation) %></p>
      <% end %>
    <% end %>

    <%= yield %>
  </div>
</div>
